section.searched {
  margin: 2rem 0;
  padding: 1rem;
  h2 {
    color: #fff;
    font-size: 2.4rem;
    margin-bottom: 3rem;
    text-align: center;
  }
  div.wrapper {
    display: grid;
    &.list {
      display: block;
    }
  }
  div.divider {
    width: 90%;
    height: 1px;
    background-color: #ddd;
    margin: 2rem auto;
  }
}

@media screen and (min-width: 550px) {
  section.searched {
    div.wrapper {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media screen and (min-width: 800px) {
  section.searched {
    div.wrapper {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

@media screen and (min-width: 1050px) {
  section.searched {
    div.wrapper {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
