div.container {
  background: #8a64d7;
  background: -webkit-linear-gradient(top left, #8a64d7, #cb2aae);
  background: -moz-linear-gradient(top left, #8a64d7, #cb2aae);
  background: linear-gradient(to bottom right, #8a64d7, #cb2aae);
  min-height: 100vh;
  padding-bottom: 4rem;
  header {
    background-color: rgb(7, 7, 58);
    padding: 1rem;
    h1 {
      text-transform: uppercase;
      color: white;
      font-size: 3rem;
      text-align: center;
    }
  }

  section.chatbots {
    display: grid;
    &.list {
      display: block;
    }
  }
}

@media screen and (min-width: 550px) {
  section.chatbots {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 800px) {
  section.chatbots {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1050px) {
  section.chatbots {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}
