div.container {
  background: #8a64d7;
  background: -webkit-linear-gradient(top left, #8a64d7, #cb2aae);
  background: -moz-linear-gradient(top left, #8a64d7, #cb2aae);
  background: linear-gradient(to bottom right, #8a64d7, #cb2aae);
  min-height: 100vh;
  padding-bottom: 4rem;
  header {
    background-color: rgb(7, 7, 58);
    padding: 1rem;
    h1 {
      text-transform: uppercase;
      color: white;
      font-size: 3rem;
      text-align: center;
    }
  }

  section.chatbots {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}
