div.controls-container {
  margin-bottom: 4rem;
  h2 {
    color: #fff;
    text-align: center;
    font-size: 2.5rem;
    padding-top: 2rem;
    margin-bottom: 2rem;
  }
  div.controls {
    input {
      width: 90%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 1rem;
      border: none;
      border-radius: 1rem;
      padding: 0.5rem 1rem;
      font-size: 1.8rem;
      max-width: 750px;
    }
    div.order,
    div.view {
      button {
        padding: 0.5rem 1rem;
        border-radius: 1rem;
        background-color: rgb(7, 7, 58);
        color: #fff;
        font-size: 1.4rem;
        border: none;
      }
    }
    div.order {
      width: 90%;
      margin-bottom: 1rem;
      margin-left: auto;
      margin-right: auto;

      button {
        display: block;
        margin-left: auto;
        margin-right: auto;

        &:first-child {
          margin-bottom: 0.5rem;
        }
      }
    }
    div.view {
      width: 100px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-left: auto;
      margin-right: auto;
      button {
        padding: 0.5rem;
        img {
          width: 30px;
          height: 30px;
          display: block;
        }
      }
    }
  }
}

@media screen and (min-width: 800px) {
  div.controls-container {
    div.controls {
      div.btns {
        display: flex;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        width: 450px;
        div.order,
        div.view {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: auto;
          margin: 0;
          button {
            display: inline-block;
            margin: 0;
          }
        }
        div.order {
          width: 290px;
        }
        div.view {
          width: 100px;
        }
      }
    }
  }
}
